*DS_Store
*.DS_Store
/projects/02-Timer/MPLAB_EXAMPLES/example2.X/dist/
/projects/02-Timer/MPLAB_EXAMPLES/example2.X/build/
*.i
*.p1
*.d 
*.hex
*.elf
*.o
*.cmf
*.hxl
*.map 
*.lst
*.mum 
*.rlf 
*.sdb  
*.sym 
/projects/06-LED_RGB/MPLAB_EXAMPLES/pic16f628a_example.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F628A_01_DC_MOTOR.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F628A_01_DC_MOTOR.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_01_ADC_READER.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_01_ADC_READER.X/build/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f628a_example.X/dist/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f628a_example.X/build/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f887_example.X/dist/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f887_example.X/build/
/projects/06-LED_RGB/MPLAB_EXAMPLES/pic16f628a_proximity_sensor.X/build/
/projects/03-PIC16F_LCD16x2/lcd_library/MPLAB_PROJECTS/PIC16F628A_LCD.X/build/
/projects/03-PIC16F_LCD16x2/lcd_library/MPLAB_PROJECTS/PIC16F887_LCD.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_03_4_COOLER_LM35_LCD_INT.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_03_4_COOLER_LM35_LCD_INT.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f628a_hc_s04_ultrasonic_lcd.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f628a_hc_s04_ultrasonic_lcd.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f876aa_hc_s04_ultrasonic_lcd.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628aBlinkAsm/dist/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628aBlinkAsm/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/example3_BlinkInAssembly_pic16f628a/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/example3_BlinkInAssembly_pic16f628a/dist/