*DS_Store
*.DS_Store
/projects/02-Timer/MPLAB_EXAMPLES/example2.X/dist/
/projects/02-Timer/MPLAB_EXAMPLES/example2.X/build/
*.i
*.p1
*.d 
*.hex
*.elf
*.o
*.cmf
*.hxl
*.map 
*.lst
*.mum 
*.rlf 
*.sdb  
*.sym 
/projects/06-LED_RGB/MPLAB_EXAMPLES/pic16f628a_example.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F628A_01_DC_MOTOR.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F628A_01_DC_MOTOR.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_01_ADC_READER.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_01_ADC_READER.X/build/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f628a_example.X/dist/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f628a_example.X/build/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f887_example.X/dist/
/projects/99-Servomotor/MPLAB_EXAMPLES/pic16f887_example.X/build/
/projects/06-LED_RGB/MPLAB_EXAMPLES/pic16f628a_proximity_sensor.X/build/
/projects/03-PIC16F_LCD16x2/lcd_library/MPLAB_PROJECTS/PIC16F628A_LCD.X/build/
/projects/03-PIC16F_LCD16x2/lcd_library/MPLAB_PROJECTS/PIC16F887_LCD.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_03_4_COOLER_LM35_LCD_INT.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/PIC16F887_03_4_COOLER_LM35_LCD_INT.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f628a_hc_s04_ultrasonic_lcd.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f628a_hc_s04_ultrasonic_lcd.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic16f876aa_hc_s04_ultrasonic_lcd.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628aBlinkAsm/dist/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628aBlinkAsm/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/example3_BlinkInAssembly_pic16f628a/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/example3_BlinkInAssembly_pic16f628a/dist/
/projects/NewFolder/pic16f628a_lm35.X/build/
/projects/NewFolder/pic16f628a_lm35.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/BlinkInAssembly_pic16f628a/build/
/projects/01-Blink/MPLAB_EXAMPLE/BlinkInAssembly_pic16f628a/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35.X/build/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/blink_pic12f675.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/blink_pic12f675.X/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_c.X/build/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_c.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/BlinkAssembly_pic12f675.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/BlinkAssembly_pic12f675.X/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_c.X/build/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_c.X/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_asm.X/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_asm.X/build/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_3leds_c.X/build/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_3leds_C.X/dist/
/projects/08-LM35_OR_TMP36/MPLAB_EXAMPLES/fever_indicator_pic12f675_lm35_3leds_C.X/build/
/Tips/AssemblyJourney/MPLAB_EXAMPLES/DIVIDE_EXAMPLE.X/dist/
/Tips/AssemblyJourney/MPLAB_EXAMPLES/DIVIDE_EXAMPLE.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic12f675_HC_S04_asm.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/pic12f675_HC_S04_asm.X/dist/
/Tips/AssemblyJourney/MPLAB_EXAMPLES/MULTIPLY.X/build/
/Tips/AssemblyJourney/MPLAB_EXAMPLES/MULTIPLY.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628a_Blink_c.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/pic16f628a_Blink_c.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC12F675_C.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC12F675_C.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC12F675_ASM.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC12F675_ASM.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC16F628A_ASM.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC16F628A_ASM.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC16F628A_C.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC16F628A_C.X/dist/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_C.X/dist/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_C.X/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_2_C.X/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_2_C.X/dist/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_ASM.X/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC16F628A_ASM.X/dist/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC12F675_ASM.X/dist/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC12F675_ASM.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC12F675_3LEDs_ASM.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC12F675_3LEDs_ASM.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC12F675_3LEDs_C.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC12F675_3LEDs_C.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_3LEDs_C.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_3LEDs_C.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_RGB_LED_C.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_RGB_LED_C.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_3LEDs_C.X.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F628A_3LEDs_C.X.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F876A_LCD16x2.X/dist/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC16F876A_LCD16x2.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/DC_MOTOR_PIC16F628A_PWM_C.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/DC_MOTOR_PIC16F628A_PWM_C.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/DC_MOTOR_PIC16F887_ADC_PWM_C.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/DC_MOTOR_PIC16F887_ADC_PWM_C.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/COOLER_PIC16F88F_4_WIRES_PWM.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/COOLER_PIC16F88F_4_WIRES_PWM.X/dist/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/COOLER_PIC16F887_4_WIRES_LM35_LCD_INT.X/build/
/projects/05-PWM-SPEED-COOLER/MPLABX_EXAMPLES/COOLER_PIC16F887_4_WIRES_LM35_LCD_INT.X/dist/
/projects/09-LDR_PHOTOCELL/MPLAB_EXAMPLES/Emergency_Light_LDR_PIC2F675_ASM.X/build/
/projects/09-LDR_PHOTOCELL/MPLAB_EXAMPLES/Emergency_Light_LDR_PIC2F675_ASM.X/dist/
/projects/09-LDR_PHOTOCELL/MPLAB_EXAMPLES/Emergency_Light_LDR_PIC12F675_C.X/dist/
/projects/09-LDR_PHOTOCELL/MPLAB_EXAMPLES/Emergency_Light_LDR_PIC12F675_C.X/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC10F200_ASM.X/build/
/projects/02-LED_CONTROL/MPLAB_EXAMPLES/LED_CONTROL_PIC10F200_ASM.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC10F200_C.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC10F200_C.X/build/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC10F200_ASM.X/dist/
/projects/01-Blink/MPLAB_EXAMPLE/Blink_PIC10F200_ASM.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC10F200_LED_C.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC10F200_LED_ASM.X/build/
/projects/07-HC-S04-URTASONIC/MPLAB_EXAMPLE/HC_S04_PIC10F200_LED_ASM.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LEDs.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LEDs.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LEDs_C.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LEDs_C.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LED_ASM.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_8LED_ASM.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_16LEDs_C.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_16LEDs_C.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_8LEDs_C.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_8LEDs_C.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LED_ASM.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LED_ASM.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_16LEDs_C.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_16LEDs_C.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_8LED_ASM.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_2WIRES_8LED_ASM.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LEDs_C.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LEDs_C.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LEDs_ASM.X/build/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_8LEDs_ASM.X/dist/
/projects/10-74HC595/MPLAB_EXAMPLES/PIC10F200_74HC595_3WIRES_16LEDs_C.X/build/